<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#191a1c">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#0F1012&quot;</span>
    <span class="s1">android:padding</span><span class="s2">=&quot;20dp&quot;</span><span class="s0">&gt;</span>

    <span class="s4">&lt;!-- Logo del Equipo (Circular) --&gt;</span>
    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/cardLogo&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;44dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;44dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;22dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imgLogo&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:scaleType</span><span class="s2">=&quot;centerCrop&quot;</span>
            <span class="s1">android:contentDescription</span><span class="s2">=&quot;@string/team_name&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/logo_equipo&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

    <span class="s4">&lt;!-- Foto del Piloto --&gt;</span>
    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imgDriver&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;190dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">android:scaleType</span><span class="s2">=&quot;centerCrop&quot;</span>
        <span class="s1">android:contentDescription</span><span class="s2">=&quot;@string/driver_name&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/foto_piloto&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/cardLogo&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- Nombre del Piloto --&gt;</span>
    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvDriverName&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;14dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/driver_name&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;28sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/imgDriver&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- Datos del Equipo y Categoría --&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/layoutTeamInfo&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;4dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/tvDriverName&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;🔴 &quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvTeamName&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;@string/team_name&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#C0C0C0&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvCategory&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;2dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/category&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#4285F4&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/layoutTeamInfo&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- Estadísticas (3 Tarjetas) --&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/layoutStats&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:baselineAligned</span><span class="s2">=&quot;false&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">android:weightSum</span><span class="s2">=&quot;3&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/tvCategory&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;6dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/bg_card&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;@string/stat_position_label&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#A0A0A0&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;@string/stat_position_value&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#E53935&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;22sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;6dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/bg_card&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;@string/stat_points_label&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#A0A0A0&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;@string/stat_points_value&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;22sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/bg_card&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;@string/stat_podiums_label&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#A0A0A0&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;@string/stat_podiums_value&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#4285F4&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;22sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s4">&lt;!-- Progreso de Temporada --&gt;</span>
    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvProgresoTitle&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/title_progreso&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/layoutStats&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/containerProgressBar&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/tvProgresoTitle&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s4">&lt;!-- Botones de Acción (Ver Métricas / Experiencia) --&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;Button</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnExperiencia&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;48dp&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/bg_pill_button&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;@string/btn_experiencia&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">app:backgroundTint</span><span class="s2">=&quot;@null&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;Button</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnVerMetricas&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;48dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/bg_button_red&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;@string/btn_ver_metricas&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">app:backgroundTint</span><span class="s2">=&quot;@null&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>